body{
    background-color: #141414;
    font-family: 'Ubuntu', sans-serif;
    color: #AAA;
    display:flex;
    flex-direction: column;
}
#headerH1{
    background-color: #181818;
    color: #AAA;
    text-align: center;
    border: ridge 3px #141414;
    height: 50px;
    line-height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size:2em;
    @media (max-width: 1250px) {
        font-size: 1.5em;
    }
    span{
        font-size: 1.5em;
        background: -webkit-linear-gradient(#C6E04C, #2C7E47);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
#mainSiteDiv{
    border: ridge 3px #141414;
    height:850px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    #checkboxPart{
        margin-top: 25px;
        margin-bottom:25px;
        text-align:center;
        font-size:1.5em;
        display:flex;
        align-items: center;
        justify-content: center;
        #colorsBool{
            transform: scale(2.5);
        margin: 30px;
        }
    }
    #btnGenerate{
        font-family: 'Raleway', sans-serif;
        width:85%;
        height:50px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        background-color: #141414;
        border-color: #141414;
        color: #AAA;
        font-size:1.5em;
    }
}
#bruh{
    display: flex;
    flex-direction: column;
}
#copyrightDiv{
    text-align: center;
    font-size: 1.5em;
    margin-top: 5px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: ridge 3px #141414;
    background-color: #181818;
    color: #AAA;
    @media (max-width: 1250px) {
        font-size: 0.75em;
    }
}
.headerSection{
    color:#FFF;
    font-family: 'Raleway', sans-serif;
    background-color: #141414;
    text-align: center;
    font-size:1.25em;
    margin:0px;
    @media (max-width: 1250px) {
        font-size: 0.85em;
    }
    span{
        font-size: 1.5em;
        background: -webkit-linear-gradient(#C6E04C, #2C7E47);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.headerRoom{
    text-align: center;
    color:#FFF;
    background-color: #181818;
    margin:0px;
    border-bottom: solid 2px #FFF;
    padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 1250px) {
        font-size: 0.85em;
    }
    span{
        font-size: 1.5em;
        background: -webkit-linear-gradient(#C6E04C, #2C7E47);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
#generatedPack{
    background-color: #141414;
}